/truffleapi
/trufflehog-api
/.*/
!/.github
__debug*
!/.gitignore
!/.vscode
*.txt
ui/node_modules
ui/dist
ui/.env
.env
/*.json
/*.yaml
/*.yml
/*.env
!docs/*.json
!docs/*.yaml
!docs/*.yml
dist/
!/config.example.*
!/.goreleaser.yml
